@model IEnumerable<ReservationRestaurant.Data.Sitting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
@Html.ActionLink("Sort by Name", "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class = " btn btn-primary" })
@Html.ActionLink("Sort by StartDate", "Index", new { sortOrder = ViewBag.DateSortParm }, new { @class = " btn btn-primary" })
@Html.ActionLink("Sort by SittingType", "Index", new { sortOrder = ViewBag.TypeSortParm }, new { @class = " btn btn-primary" })
@Html.ActionLink("Sort by IsOpen", "Index", new { sortOrder = ViewBag.BoolSortParm }, new { @class = " btn btn-primary" })
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacancies) // newly added
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SittingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Vacancies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SittingType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Edit</a> ||
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> ||
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> ||
                <a asp-action="ReservationList" asp-route-id="@item.Id">Reservation List</a>||
                <a asp-action="Report" asp-route-id="@item.Id">View Report</a>
            </td>
        </tr>
}
    </tbody>
</table>
