@model IEnumerable<ReservationRestaurant.Data.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index -- Reservations List</h1>

<p>
    <a asp-action="PreCreate">Create New</a>
</p>
<div class="card bg-transparent">
    <div class="card-body">
        <form asp-action="Index" method="get">

            <div class="form-actions no-color">
                <p>
                    Search Option:
                    @Html.RadioButton("option", "ReservationId") <text> Reservation Id </text>
                    <span> </span>
                    @Html.RadioButton("option", "Email") <text>  Email </text>
                    <span> </span>
                    @Html.RadioButton("option", "Name")<text> Last Name</text>
                    <br />
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-secondary" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
                <p>
                    @Html.ActionLink("Sort by Name", "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class = " btn btn-primary" })
                    @Html.ActionLink("Sort by StartDate", "Index", new { sortOrder = ViewBag.DateSortParm }, new { @class = " btn btn-primary" })
                    @Html.ActionLink("Sort by SittingType", "Index", new { sortOrder = ViewBag.TypeSortParm }, new { @class = " btn btn-primary" })
                </p>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Person Name</th>
            <th>
                Person Email
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guests)
            </th>
            <th>
                Reservation Status
            </th>
            <th>
                Reservation Origin
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sitting)
            </th>
            <th>
                Booked Tables
            </th>
            <th>
                Sitting Type
            </th>

            <th>
                Special Requirement
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Person.FirstName @item.Person.LastName</td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationOrigin.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sitting.Name)
            </td>
            <td>
                <div>
                    @foreach (var table in item.Tables)
                    {
                        <div>
                            @table.Name
                        </div>
                    }
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sitting.SittingType.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequirement)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
