@model IEnumerable<ReservationRestaurant.Data.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Person Name</th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sitting)
            </th>
            <th>
               Sitting Type
            </th>
            <th>
                Person Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Person.FirstName @item.Person.LastName</td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationOrigin.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sitting.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sitting.SittingType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Email)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
